* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --font-default: "Lora";
  --font-secondary: "Lato";
  --color-background: #faf1e6;
  --color-text: #0d0d0e;
  --color-accent: #ca0915;
  --color-primary: #e5ba8d;
  /*--color-secondary: #78dec7;
  */
}

body {
  font-family: var(--font-default);
  background-color: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-default);
}
